h1{
	;

	font: oblique bold 130% cursive;
}
	

img{
	border: 25px purple; 

	}	
	p{

	font: oblique bold 120% cursive;
}

h2
	{font: oblique bold 120% cursive;}
body 


{ background-color: pink }

 li{
	
	font: oblique bold 130% cursive;
}


